.App {
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: aqua;
  height: 50vh;
}

.App-footer {
  background-color: beige;
  min-height: 20vh;
}

.App-link {
  color: #61dafb;
  padding: 20px;
}

.circle {
  height: 250px;
  width: 250px;
  background-color: lightpink;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.circle .center-point {
  height: 2px;
  width: 2px;
  top: 125px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.clock-hand {
  position: absolute;
  transform-origin: 0% 100%;
}

.second-hand {
  border-left:1px solid green;
  height: 120px;
  left: 125px;
  top: 6px;
}

.minute-hand {
  border-left: 1px solid red;
  border-right: 1px solid red;
  height: 100px;
  left: 125px;
  top: 26px;
}

.hour-hand {
  border-left: 1px solid blue;
  border-right: 2px solid blue;
  height: 85px;
  left: 125px;
  top: 41px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


